@font-face {
    font-family: 'robotoMedium';
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
  }

.home-container{
    font-family: 'robotoMedium';
    display: flex;
}

.home-container > * {
}

.home-container .left-section form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .left-section{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.home-container .left-section input, .home-container .left-section select, .home-container .left-section button{
    width: 80%;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 30px;
    border: 1px solid rgb(0, 0, 0);
    font-family: robotoMedium;
}

.home-container .left-section button{
    background-color: white;
    border: 1px solid black;
    width: 60% !important;
    margin-top: 300px;
    box-shadow: 0.5px 0.5px 2px rgb(58, 58, 58);
}

.home-container .left-section button:hover{
    background-color: rgb(201, 201, 201);
    cursor: pointer;
}

.home-container .right-section{
    width: 70%;
}

.home-container input{
    display: block;
}

.ip-address{
    border: 1px solid black;
    width: 100px;
}

.home-container .left-section form{
    display: flex;
}

.add-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-popup-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 550px;
    background-color: white;
    height: 600px;
    padding: 0 90px;
    padding-top: 50px;
    position: relative;
    box-shadow: 2px 2px 4px rgb(88, 88, 88);
    border-radius: 10px;
}

.add-popup-container input{
    margin-bottom: 8px;
}

.add-popup-container button , .add-popup-container input{
    height: 30px;
    border: 1px solid black;
}

.add-popup-container button{
    margin-top: 40px;
    background-color: white;
    
}

.add-popup-container label{
    margin-bottom: 5px;
}

.x-button{
    position: absolute;
    top: 11px;
    right: 11px;
    width: 35px;
    height: 35px;
}

.x-button:hover{
    width: 36px;
    height: 36px;
    cursor: pointer;
}
